body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
}

#target {
  background: black;
  color: whitesmoke;
  padding: 10px;
  border-radius: 50px;
  font-family: Calibri;
}
